.emacs.bmk
.session
auto-save-list/*
/emms/*
/games/*
image-dired/*
/eshell/*
ido.last
srecode-map.el
ac-comphist.dat
/elpa/archives/*
semanticdb/* 
ede-projects.el
/session.* 
/elpa/* 
/transient
/rime
/eln-cache
/tutorial
.cache
.dap-breakpoints
.lsp-session-v1
librime
projects
tramp
/.extension
projectile-bookmarks.eld
